<!doctype html>
<html>

<head>
    <title>Impostor</title>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="icon" href="/favicon.svg" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material"></script>
    <style>
        .eliminated {
            text-decoration: line-through;
        }
    </style>
</head>

<body>
    <div id="app">
    </div>

    <script>
        Vue.use(VueMaterial.default)

        const protocol = (window.location.protocol === 'https:') ? 'wss' : 'ws'
        const baseUrl = `${protocol}://${location.host}/games`

        let socket

        new Vue({
            el: '#app',
            template: `
                <md-app>
                    <md-app-content>
                        <form v-if="!hasJoined">
                            <md-field>
                                <label>Dein Name</label>
                                <md-input v-model="playerName" maxlength="16" required></md-input>
                                <md-button v-if="playerName.length > 0"
                                           @click="createGame" class="md-raised md-primary">Neues Spiel erstellen</md-button>
                            </md-field>

                            <md-field>
                                <label>Spiel</label>
                                <md-input v-model="gameId" maxlength="6"></md-input>
                                <md-button v-if="(playerName.length > 0) && (gameId.length===6)" 
                                           @click="join" class="md-raised md-primary">Beitreten</md-button>
                            </md-field>
                        </form>

                        <md-card v-if="hasJoined">
                            <md-card-header>
                                <div class="md-title">Spiel {{gameId}}</div>
                            </md-card-header>
                            <md-card-content>
                                <md-list>
                                    <md-list-item v-for="player in players"
                                                  :key="player.name">
                                        <span class="md-list-item-text" :class="{eliminated: player.isEliminated && isStarted}">
                                            {{player.name}} {{player.name === playerName ? '(Du)' : ''}} [Punkte: {{player.score}}]
                                        </span>
                                        <md-button v-if="isAdmin && player.isDisconnected" class="md-icon-button md-list-action" @click="kick(player)">
                                            <md-icon class="md-primary md-accent">link_off</md-icon>
                                        </md-button>
                                        <md-button v-if="isAdmin && isStarted && !player.isEliminated"
                                                   class="md-icon-button md-list-action"
                                                   @click="vote(player)">
                                            <md-icon class="md-primary">eject</md-icon>
                                        </md-button>
                                    </md-list-item>
                                </md-list>
                            </md-card-content>

                            <md-card-actions v-if="isAdmin">
                                <md-button v-if="players.length > 2" @click="start" class="md-raised md-primary">
                                    Neue Runde
                                </md-button>
                            </md-card-actions>
                        </md-card>

                        <p/>

                        <md-card v-if="hasJoined && isStarted">
                            <md-card-header>
                                <div class="md-title">Wort: {{word}}</div>
                            </md-card-header>
                        </md-card>

                        <md-card v-if="winners.length > 0">
                            <md-card-content>
                                Spiel vorbei. Gewinner: {{winners.join(', ')}}.
                            </md-card-content>
                        </md-card>
                    </md-app-content>
                </md-app>
            `,
            data: function () {
                return {
                    isAdmin: false,
                    //REVISE maybe gameId can be used as indicator to decide if player has joined
                    hasJoined: false,
                    playerName: '',
                    gameId: '',
                    word: '',
                    isConnected: false,
                    players: [],
                    winners: [],
                    selectedPlayerName: ''
                }
            },
            computed: {
                isStarted: function () {
                    return (this.word !== '') && (this.players.length > 2)
                }
            },
            created: function () {
                // REVISE feels a bit awkward - check if it is cleaner using socket.onclose
                window.addEventListener('focus', () => {
                    if (socket && (socket.readyState === WebSocket.CLOSED) && this.hasJoined) {
                        this.join()
                    }
                })
            },
            methods: {
                connect: function () {
                    return new Promise((resolve) => {
                        socket = new WebSocket(`${baseUrl}/${this.gameId}`)
                        socket.onmessage = (event) => {
                            const data = JSON.parse(event.data)
                            this.isAdmin = data.isAdmin
                            this.players = data.players
                            this.players.sort((playerA, playerB) => playerB.score - playerA.score)
                            this.word = data.word
                            this.winners = data.winners
                            this.selectedPlayerName = ''
                        }
                        socket.onopen = () => {
                            resolve()
                        }
                    })
                },
                createGame: async function () {
                    const response = await fetch('/games', { method: 'POST' })
                    this.gameId = response.headers.get('location')
                    this.join()
                },
                join: async function () {
                    await this.connect()
                    socket.send(JSON.stringify({ command: 'join', playerName: this.playerName }))
                    this.hasJoined = true
                },
                kick: function (player) {
                    socket.send(JSON.stringify({ command: 'kick', playerName: player.name }))
                },
                vote: function (player) {
                    socket.send(JSON.stringify({ command: 'vote', playerName: player.name }))
                },
                start: function () {
                    socket.send(JSON.stringify({ command: 'start' }))
                }
            }
        })
    </script>
</body>

</html>